.site-header {
    grid-area: header;
    background-color: #111;
    color: #fff;

    a {
      color: #fff;
    }

    .site-branding {
        padding: 2.5rem 1rem 2.25rem 1rem;

      a {
        display: inline-block;
      }

      img {
        max-width: 100%;  // Ensure the SVG scales properly
        height: 1.5rem;     // Maintain aspect ratio
      }

      .site-title,
      .site-description {
        margin: 0;
      }

      @media screen and (min-width: 50em) {
        text-align: center;
        grid-column: 2/3;
        text-align: left;
      }
    }

    .site-title {
      font-size: 1.875rem;
      margin: 0;
    }

    .site-description {
      margin: 0;
    }

    @media screen and (min-width: 50em) {
      display: grid;
      grid-template-columns: 1fr minmax(auto, 25rem) minmax(auto, 37.5rem) 1fr;
      justify-content: center;
    }
  }
