@import 'sass/abstracts/variables/_colors.scss';


.site-header {
    background-color: $color__background-hr;
    padding: 1rem;
    @include flexbox(row, space-between, center);


    .site-branding {
        margin-right: auto;
        text-transform: uppercase;
        font-weight: 900;
        color: $color__text-hr;
    }

    .main-navigation {
        display: flex;
        align-items: center;

        .menu-toggle {
            display: none;
        }

        .menu {
            list-style: none;
            display: flex;

            li {
                margin-left: 1rem;

                &:first-child {
                    margin-left: 0;
                }

                a {
                    color: $color__text-main; // Use the main text color
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 900;
                }
            }
        }
    }

    // Media query for screens smaller than 50em
    @media screen and (min-width: 37.5em) {
        .main-navigation .menu {
            display: none; // Hide primary menu items
        }

        .main-navigation .menu-toggle {
            display: block; // Show hamburger menu
        }
    }
}
