.page-id-41 {
    .site-main {
        margin: 1.5rem;
        max-width: 125rem;

        h1, h2 {
            text-align: center;
        }

        .term-section {
            border: 1px solid $color__background-hr;
            padding: 1.25rem;
            margin: 1.25rem
        }
        @media screen and (min-width: 62.5em) {
            max-width: 62.5rem;
            margin: 0 auto;
            margin-bottom: 1.5rem;
        }
    }
    
}