.page-id-62 {

    .content-area {
        border: 1px solid #ccc;

        a {
            @include link-styles;
        }

        ul {
            padding-left: 0;
            margin-left: 0;
        }
    }

    .student-item {
        max-width: 18.75rem;
        margin: 0 auto;
        border: 1px solid #000;
        margin-bottom: 1rem;
    }
}
