// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin flexbox($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin link-styles {
    font: $font__main;
    text-decoration: none;
    font-weight: $font-weight_links;
    color: $color__link;
}

// site-main margins for posts
@mixin post-site-main-margins {
    margin: 1rem 2rem;
}

// box shadow mixin
// from https://getcssscan.com/css-box-shadow-examples
@mixin box-shadow-custom {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

