.main-navigation {
	// display: block;

	.header-menu {
		display: none;
	}

	ul {
	  list-style: none;
	  margin: 0;
	  padding-left: 0;

	  /* Display sub-menu ul elements */
	  ul {
		display: block;
		position: absolute;
		top: 0;
		left: 100%;
		z-index: 999;

		li:hover > ul,
		li.focus > ul {
		  display: block;
		}
	  }

	  li {
		position: relative;
		padding: 1rem;

		&:hover > a,
		&.focus > a {
		  /* Add any specific styles for hover or focus states */
		}
	  }

	  a {
		display: block;
		text-decoration: none;
	  }
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	  // Add any specific styles for current states
	}
  }


/* Small menu */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

.menu-toggle {
	position: absolute;
    top: 0;
    right: 0.5rem;
    display: block;
    padding: 1rem;
    margin: 0;
    border: none;
    background: transparent;
	z-index: 999;

  img {
    width: 2rem;
    height: auto;
  }

  &:focus {
    outline: 2px solid #000;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-links {
    display: flex;
  }

  .nav-previous {
    flex: 1 0 50%;
  }

  .nav-next {
    text-align: end;
    flex: 1 0 50%;
  }
}

